<mat-toolbar color="primary" class="mat-bottom-shadow">
  <mat-toolbar-row>
    <span>The App</span>
    <span class="navigation-spacer"></span>
    <span [routerLink]="['/login']" routerLinkActive="router-link-active" class="navigation-item" *ngIf="!isAuthenticated">Login</span>
    <span [routerLink]="['/register']" routerLinkActive="router-link-active" class="navigation-item" *ngIf="!isAuthenticated">Register</span>
    <span (click)="logout()" class="navigation-item" *ngIf="isAuthenticated">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>
