<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <mat-card class="sidebar-card">
        <app-sidebar></app-sidebar>
      </mat-card>

    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-card class="page-container">
        <router-outlet></router-outlet>
        </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
