<mat-card *ngIf="user">
  <mat-card-content>
    <table>
      <tr>
        <td>First Name</td><td>{{user.first_name}}</td>
      </tr>
      <tr>
        <td>Middle Name</td><td>{{user.middle_name}}</td>
      </tr>
      <tr>
        <td>Last Name</td><td>{{user.last_name}}</td>
      </tr>
      <tr>
        <td>Email</td><td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Employee ID</td><td>{{user.employee_id}}</td>
      </tr>
      <tr>
        <td>DOB</td><td>{{user.dob | date: 'dd MMM, yyy'}}</td>
      </tr>
      <tr>
        <td>DOJ</td><td>{{user.doj | date: 'dd MMM, yyy'}}</td>
      </tr>
      <tr>
        <td>Organization</td><td>{{organizationName}}</td>
      </tr>
      <tr>
        <td>Role</td><td>{{roleName}}</td>
      </tr>
      <tr>
        <td>Active</td><td>{{user.active ? 'Yes' : 'No'}}</td>
      </tr>
      <tr>
        <td>Created</td><td>{{user.created | date: 'dd MMM, yyyy hh:mm:ss'}}</td>
      </tr>
      <tr>
        <td>Modified</td><td>{{user.modified | date: 'dd MMM, yyyy hh:mm:ss'}}</td>
      </tr>

    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/edit-user', user.id]" routerLinkActive="router-link-active" >Edit</button>
    <button mat-raised-button color="primary" (click)="deleteUser(user.id)">Delete</button>
  </mat-card-actions>
</mat-card>
