<mat-card>
  <mat-card-title *ngIf="recipientName">
    {{recipientName}}
  </mat-card-title>
  <mat-card-content>
    <div class="chat-container" #chatContainer>
      <div *ngFor="let chat of chats; let i = index; let lastcall=last">
        <div class="row" class="date-divider">

        </div>
        <div class="row chat-item" *ngIf="chat.sender == recipientId">
          <div class="col-sm-2 chat-avatar">
            <div>{{recipientShortName}}</div>
          </div>
          <div class="col-sm-8 chat-text-block">
            <p class="chat-text text-to-left">{{chat.text}}</p>
            <p class="chat-date text-to-left">
              <small>
                {{chat.date | date : 'h:mm a'}}
                <button mat-icon-button class="small-chat-button" [matMenuTriggerFor]="chatMenu">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #chatMenu="matMenu">
                  <button mat-menu-item (onclick)="deleteChat(chat.id)">Delete</button>
                </mat-menu>
              </small>
            </p>
          </div>
        </div>
        <div class="row chat-item" *ngIf="chat.sender == userData.id">
          <div class=" col-sm-8 offset-sm-2 chat-text-block">
            <p class="chat-text text-to-right">{{chat.text}}</p>
            <p class="chat-date text-to-right">
              <small>
                {{chat.date | date : 'h:mm a'}}
                <button mat-icon-button class="small-chat-button" [matMenuTriggerFor]="chatMenu">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #chatMenu="matMenu">
                  <button mat-menu-item color="warn" (click)="deleteChat(chat.id)">Delete</button>
                </mat-menu>
              </small>
            </p>
          </div>
          <div class="col-sm-2 chat-avatar">
            <div>{{senderShortName}}</div>
          </div>
        </div>
        <span *ngIf="lastcall">{{scrollToBottom()}} </span>
      </div>
    </div>

    <div class="chat-input">
      <form [formGroup]="chatFormGroup" (submit)="sendChat()">
        <mat-form-field>
          <input matInput placeholder="Type a message here..." formControlName="chatText">
          <button mat-icon-button matSuffix color="primary" type="submit" (keyup.enter)="sendChat()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

  </mat-card-content>
</mat-card>
