<mat-nav-list >
  <a mat-list-item   >
    <mat-icon>dashboard</mat-icon>
    Feed
  </a>
  <a mat-list-item [routerLink]="['/organizations']" routerLinkActive="router-link-active">
    <mat-icon>apartment</mat-icon>
    Organizations
  </a>
  <a mat-list-item [routerLink]="['/users']" routerLinkActive="router-link-active">
    <mat-icon>people</mat-icon>
    Users
  </a>
  <a mat-list-item [routerLink]="['/roles']" routerLinkActive="router-link-active">
    <mat-icon>lock</mat-icon>
    Roles
  </a>
  <a mat-list-item [routerLink]="['/association-requests']" routerLinkActive="router-link-active">
    <mat-icon>business</mat-icon>
    Association Requests
  </a>
  <a mat-list-item [routerLink]="['/organization-requests']" routerLinkActive="router-link-active">
    <mat-icon>business</mat-icon>
    Organization Requests
  </a>
</mat-nav-list>


